@import "off-canvas";
@import "../node_modules/glightbox/dist/css/glightbox.min.css";

$backgroundColor: white;
$textColor: #58595b;
$borderThickness: 3px;
/*

Used Breakpoints

@media all and (max-width: 1199px) { ... } 
@media all and (max-width: 991px) { ... } 
@media all and (max-width: 768px) { ... } 
@media all and (max-width: 575px) { ... }

*/

/* -----------------------------------------
            TAGS
-----------------------------------------*/


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: $textColor;
}


body {
    font-family: 'Arial Narrow', Helvetica, sans-serif;    
    display: flex;
    flex-direction: column;
    justify-content: center;

}

img{
    
    max-height: 100%;
    max-width: 100%;
    height: auto;
}

a{
    // need something here

}

/* -----------------------------------------
            CLASSES
-----------------------------------------*/

.none{
    display:none;
}


.nav_bar{
    
    z-index: 1000;
    padding: 15px;
    height: 7vh; // for test
    background-color: $backgroundColor;
    position: sticky;
    position: -webkit-sticky;
    top:0;
    transition: height 0.5s ease;

    img{
        float:left;
        display: inline;
        margin: 0;
    }

    .hamburger{
        display:flex;

    }
}


$hamburgerThickness: $borderThickness;

.hamburger {
    position: relative;
    float: right;
    width: 2em;
    height: 1em;
    margin-top: 1em;
    margin-right:1em;
    border-top: $hamburgerThickness solid $textColor;
    border-bottom: $hamburgerThickness solid $textColor;
    //display:flex;
    align-items:center;
}



.hamburger:before {
    content: "";
    width: 100%;
    border-top: $hamburgerThickness solid $textColor;
}






.firstItem{
    padding-top: 15vh;
}




.menulinks {
    font-size: 8em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: $borderThickness solid $textColor;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 1vh;
    cursor: pointer;

    @media all and (max-width: 768px) { 
        font-size: 6em;
     } 
    @media all and (max-width: 575px) { 
        font-size: 3em;  
    }

}


.griddropdown {
    text-align: left;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;

    display: flex;
    flex-wrap: wrap;
    //margin-left: 3vw;
    //margin-right: 3vw;

    @media all and (max-width: 768px) { 
        font-size: 3em;
     } 
    @media all and (max-width: 575px) { 
        font-size: 2em; 
    }

    .item {
        /*
        flex: 1 0 21%;
        &:not(:nth-child(4n)) {
            margin-right: 1.5vw;
        }
        */
        margin-right: 1vw;
        margin-left: 1vw;
        height: 0;
        overflow: hidden;

        @media (max-width: 1199px) { 
            flex: 1 0 21%;
            &:not(:nth-child(4n)) {
                //margin-right: 1.5vw;
            }
        } 
        @media (max-width: 768px) { 
            flex: 1 0 48%;
            &:nth-child(odd) {
                //margin-right: 1.5vw;
            }
        } 
        @media (max-width: 575px) { 
            flex: 1 0 48%;
            &:nth-child(odd) {
                //margin-right: 1vw;
            }
            &:nth-child(even) {
                //margin-left: 1vw;
            }
        }

    }
}

.open{
    .griddropdown{
        .item{
            height: auto;
        }
    }
}

.linkdropdown {
    display: none;
    margin-left: 3vw;
    margin-right: 3vw;

    .item{
        font-size: 6em;
        text-align: center;
        border: $borderThickness solid $textColor;
        text-transform: uppercase;
        font-weight: bold;
        margin: 0 16vw 1vh 16vw;

        @media all and (max-width: 768px) { 
            font-size: 4em;
         } 
        @media all and (max-width: 575px) { 
            font-size: 2.5em; 
        }
    }
}

.open{
    .linkdropdown{
        display: block;
    }
}

.textdropdown {
    
    text-align: left;
    text-transform: none;
    font-weight: normal;
    font-size: .8em;

    display: flex;
    flex-wrap: wrap;
    margin-left: 3vw;
    margin-right: 3vw;

    .item {
        width: 50%;
        height: 0;
        overflow: hidden;
    }


}

.open{
    .textdropdown{
        .item{
            height: auto;
        }
    }
}

.map {
    border: $borderThickness solid $textColor;
    width: 100%;
    height: 30vw; /* change to auto */
    margin: 0 auto;
    grid-column: 1/3;
}




.lg-sub-html{

    color:red;
}