@import "off-canvas";
@import "../node_modules/glightbox/dist/css/glightbox.min.css";

$backgroundColor: white;
$textColor: #58595b;
$borderThickness: 3px;
/*

Used Breakpoints

@media all and (max-width: 1199px) { ... } 
@media all and (max-width: 991px) { ... } 
@media all and (max-width: 768px) { ... } 
@media all and (max-width: 575px) { ... }

900px

$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
*/

$xs: "(max-width: 299px)";
$sm: "(min-width: 300px) and (max-width: 599px)";
$md: "(min-width: 600px) and (max-width: 900px)";
$lg: "(min-width: 901px) and (max-width: 1399px)";
$xl: "(min-width: 1400px)";

/* -----------------------------------------
            TAGS
-----------------------------------------*/


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: $textColor;
}


body {
    font-family: 'Arial Narrow', Helvetica, sans-serif;    
    display: flex;
    flex-direction: column;
    justify-content: center;

    /*
    @media #{$xl} { 
        background-color: yellow;
    } 
    @media #{$lg} { 
        background-color: green;
    } 
    @media #{$md} { 
        background-color: red;
    } 
    @media #{$sm} { 
        background-color: blue;
    }
    */
}

img{
    
    max-height: 100%;
    max-width: 100%;
    height: auto;
}

a{
    // need something here

}

p{

    &.pad{
        padding-bottom: 1em;
        padding-top: 1em;
    }
}

/* -----------------------------------------
            CLASSES
-----------------------------------------*/

.none{
    display:none;

    img{
        display: none;
    }
}


.nav_bar{
    
    z-index: 1000;
    padding: 3vw 3vw 0vw 3vw;
    height: 7vh; // for test
    background-color: $backgroundColor;
    position: sticky;
    position: -webkit-sticky;
    top:0;
    transition: height 0.5s ease;
    display: flex;
    /* flex-direction: column;*/
    align-items: center; 
    /* justify-content: center;*/

    @media #{$md} {
        padding: 3vw 3vw 0vw 3vw;
    }
    @media #{$sm} {
        padding: 7vw 3vw 3vw 3vw;
    } 
    @media #{$xs} {
        padding: 7vw 3vw 3vw 3vw;
    }

    
    img{
        float:left;
        display: inline;
        margin: 0;
        max-height: 4em;
    }

    .hamburger{
        display:flex;

    }

    .header_number{
        float: right;
        font-size: 3em;
        font-weight: bold;
        margin-left: auto;
        
        @media #{$md} {
            font-size: 2em;
        }
        @media #{$sm} {
            font-size: 1.6em;
        }  
        @media #{$xs} {
            font-size: 1.2em;
        }
    }
}


$hamburgerThickness: $borderThickness;

.hamburger {
    position: relative;
    float: right;
    width: 2em;
    height: 1em;
    margin-top: 1em;
    margin-right:1em;
    border-top: $hamburgerThickness solid $textColor;
    border-bottom: $hamburgerThickness solid $textColor;
    //display:flex;
    align-items:center;
}



.hamburger:before {
    content: "";
    width: 100%;
    border-top: $hamburgerThickness solid $textColor;
}






.firstItem{
    padding-top: 15vh;
}



.container{
    padding-left: 3vw;
    padding-right: 3vw;

    &:first-of-type{
        padding-top: 3vw;
    }
}


.menulinks {
    font-size: 8em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: $borderThickness solid $textColor;
    
    margin-bottom: 1vh;
    cursor: pointer;

    @media #{$md} {
        font-size: 6em;
    } 
    @media #{$sm} {
        font-size: 3em;
    }
    @media #{$xs} {
        font-size: 3em;
    }

}


.griddropdown {
    text-align: left;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;

    display: none;
    flex-wrap: wrap;
    width: 70vw;
    margin: 0 auto;

    box-sizing: border-box;
 
    @media #{$xl} {
        //width: 100%;
        width:70%;
    } 
    @media #{$lg} {
        width: 100%;
    } 
    @media #{$md} {
        width: 100%;
        font-size: 3em;
    } 
    @media #{$sm} {
        width: 100%;
        font-size: 2em;
    }
    @media #{$xs} {
        width: 100%;
        font-size: 2em;
    }
    

    .item {
        font-size: 0em;
        overflow: hidden;

        flex-grow:1;
        flex-shrink:1;
        width:20%;
        height: 10vw;
        padding:12px;

        

        @media #{$xl} {
            width:20%;
            height: 15vw;
            &:nth-child(4n+1) {  
                padding-left: 0px;
            }
    
            &:nth-child(4n){
                padding-right:0px;
            }
        } 
        @media #{$lg} {
            width:20%;
            height: 20vw;
            &:nth-child(4n+1) {  
                padding-left: 0px;
            }
    
            &:nth-child(4n){
                padding-right:0px;
            }
        } 
        @media #{$md} {
            width:28%;
            height: 28vw;
            &:nth-child(3n+1) {  
                padding-left: 0px;
            }
    
            &:nth-child(3n){
                padding-right:0px;
            }
        } 


        @media #{$sm} {
            width:40%;
            height: 40vw;

            &:nth-child(odd) {  
                padding-left: 0px;
            }
    
            &:nth-child(even){
                padding-right:0px;
            }
        }


        @media #{$xs} {
            width:40%;
            height: 40vw;

            &:nth-child(odd) {  
                padding-left: 0px;
            }
    
            &:nth-child(even){
                padding-right:0px;
            }
        }
        

        .img_link{
            font-size: 0em;
            display: block;
            width: 100%;
            height: 100%;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

    }
}

.open{
    .griddropdown{
        display: flex;
    }
}

.blockdropdown{
    display: none;
    width: 70%;
    margin: 0 auto;
    box-sizing: border-box;

    @media #{$md} { 
        width: 100%;
    } 
    @media #{$sm} { 
        width: 100%;
    }
    @media #{$xs} { 
        width: 100%;
    }

    .blocktitle{
        width: 100%;
        text-align: center;
        font-size: 5em;
        border: $borderThickness solid $textColor;
        margin-bottom: 1vh;

        box-sizing: border-box;
        @media #{$md} { 
            font-size: 3em;
        } 
        @media #{$sm} { 
            font-size: 2em;
        }
        @media #{$xs} { 
            font-size: 2em;
        }
    }

    .pad{
        font-size: 1.5em;

        @media #{$sm} { 
            font-size: 1.2em;
        }
        @media #{$xs} { 
            font-size: 1.2em;
        }

    }

    .blockitems{
        width:100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        
        .item {

            flex-grow:1;
            flex-shrink:1;
            width:20%;

            padding:12px;

            

            @media #{$xl} {
                width:20%;
                &:nth-child(4n+1) {  
                    padding-left: 0px;
                }
        
                &:nth-child(4n){
                    padding-right:0px;
                }
            } 
            @media #{$lg} {
                width:20%;
                &:nth-child(4n+1) {  
                    padding-left: 0px;
                }
        
                &:nth-child(4n){
                    padding-right:0px;
                }
            } 
            @media #{$md} {
                width:28%;

                &:nth-child(3n+1) {  
                    padding-left: 0px;
                }
        
                &:nth-child(3n){
                    padding-right:0px;
                }
            } 


            @media #{$sm} {
                width:40%;
                

                &:nth-child(odd) {  
                    padding-left: 0px;
                }
        
                &:nth-child(even){
                    padding-right:0px;
                }
            }


            @media #{$xs} {
                width:40%;
                

                &:nth-child(odd) {  
                    padding-left: 0px;
                }
        
                &:nth-child(even){
                    padding-right:0px;
                }
            }
            
            
    
            .img_link{
                font-size: 0em;
                display: block;
                width: 100%;
    
                img{
                    width: 100%;
                }
            }

            p{
                font-size: 1.3em;
                padding-top:.2em;
            }
    
        }
    }
    
    
}

.open{
    .blockdropdown{
        display: block;
    }
}

.linkdropdown {
    display: none;
    margin-left: 3vw;
    margin-right: 3vw;

    .item{
        font-size: 5em;
        text-align: center;
        border: $borderThickness solid $textColor;
        text-transform: uppercase;
        font-weight: bold;
        

        @media #{$xl} {
            margin: 0 20vw 1vh 20vw;
        } 
        @media #{$lg} {
            margin: 0 10vw 1vh 10vw;
        } 
        @media #{$md} {
            font-size: 3em;
            margin: 0 10vw 1vh 10vw;
        } 
        @media #{$sm} {
            font-size: 1.8em; 
            margin: 0 13vw 1vh 13vw;
        }
        @media #{$xs} {
            font-size: 1.8em; 
            margin: 0 13vw 1vh 13vw;
        }
    }
}

.open{
    .linkdropdown{
        display: block;
    }
}

.textdropdown {
    
    text-align: left;
    text-transform: none;
    font-weight: normal;
    font-size: .8em;

    display: none;
    flex-wrap: wrap;
    margin: 0 auto;

    .item {
        width: 50%;
        height: auto;
        overflow: hidden;
    }




    @media #{$xl} { 
        font-size: 1.8em;
        width:70%;
    } 
    @media #{$lg} { 
        font-size: 1.8em;
        width: 100%;
    } 
    @media #{$md} { 
        font-size: 1.2em;
        font-size: 3em;
        width: 100%;
    } 
    @media #{$sm} { 
        font-size: 1em;
        width: 100%;
    }
    @media #{$xs} { 
        font-size: 1em;
        width: 100%;
    }
}

.open{
    .textdropdown{
        display: flex;
    }
}

.map {
    border: $borderThickness solid $textColor;
    width: 100%;
    height: auto; /* change to auto */
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;

    img{
        width: 100%;
    }
    
}




.lg-sub-html{

    color:red;
}